/** 
 * Over-ride styles for class in helper.
 */
 .border{
  border-color : rgb(217, 216, 209);
 }

/**
 * Over-ride for class in foundation
 */

body {
  background-color: rgba(240, 240, 240,0.4);
  font-size: 14px;
  font-family: 'Lato';
}

p {
  font-family: 'Lato';
  font-weight: normal;
}

h1, h2, h3 , h4, h5, h6{
  font-family: 'Lato';
  font-weight: 700;
}

h4{
  font-size: 1.25rem;
}

h5{
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

a{
  color :rgba(0,0,0,1);
  text-decoration: underline;
}

.button{
  text-decoration: none;
}

.full-width{
    width: 100%;
}

table {
  font-size: 12px;
}
/**
 * Main container wrapping all elements
 */
#renzo-container {
  height: 100%;
  width: 100%;
}


/** 
 * Title
 */
 .list-title {
  font-size: 1rem;
  font-weight: bold;
 }

.section-title {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #999;
  font-weight: bold;
 }

/**
 * Logo
 */

.logo {
  display: block;
  height: 70px;
  width: 200px;
}


/* Color's */
.cl-white {
  color: rgba(255,255,255,1) !important;
}

.cl-gray {
  color: rgba(127, 127, 127,1) !important;
}

.cl-yellow {
  color: rgb(255, 208, 0) !important;
}

.cl-red{
  color: rgb(239, 41, 112) !important;
}

.cl-violet {
  color: rgb(115, 35, 220) !important;
}

.bg-white {
  background-color: rgba(255,255,255,1) !important;
}
.bg-violet{
  background-color: rgba(118, 67, 136,1) !important;
}

.bg-grey {
  background-color: rgb(243, 243, 243) !important;
}

.bg-red {
  background-color: rgb(239, 41, 112) !important;
}

.bg-green {
  background-color: rgba(123, 204, 169,1) !important;
}



/* Index */
.index-header{
  position: absolute;
}

#center-container{
  display: table;
  height: 100%;
  width: 100%;
}

#PackageDescription{
  max-height: 500px;
  overflow: auto;
}

.container-wrap{
  display: table-cell;
  vertical-align: middle;
}
.playground{
/* For styling only */
  height: 250px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.rnh-index {
  background-color: #000;
  background-image: url('../images/BG.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

  .rnh-index-inner {
    background: rgba(0,0,0,0.4);
  }

  .rnh-index .playground {
    max-width: 600px;
  }

  .responsive-image {
    height: 140px !important;
    overflow: hidden;
  }

  .sunburn {
    position: absolute;
    top: 0;
    right: 0;
  }

/**
 * Table
 */
.table-scroll {
  overflow-x: auto; 
}
  .table-scroll table {
    width: auto; 
  }


/**
 * Form
 */

form label{
  color : rgba(127, 127, 127,1) !important;
}


/**
 * Packages 
 */
.amenities-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.image-slider {
  max-height: 600px;
  overflow: hidden;
}

.orbit-image{
  max-height: 600px;
}