{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top">
    <div class="small-12 medium-8 columns">
      <h3>Review Booking</h3>
      <p class="cl-gray">it only takes 2 minutes to book!</p>
    </div>
    {% if booking.booking_status == 0 %}
      <div class="small-12 medium-4 columns text-right">
        <a href="#payments" class="button success push-4-top"> Pay Now </a>
      </div>
    {% endif %}
  </div>

  <div class="row padd-4-bottom">
    <div class="small-12 medium-8 large-9 columns push-4-top">
      <div class="row">
        <div class="small-12 medium-8 large-5 column push-4-bottom">
          <img {%if booking.package.image_1 %} src="{{ MEDIA_URL }}{{booking.package.image_1.url}}" {% else %} src="{% static 'images/default.png' %}" {%endif%}>  
        </div>
        <div class="small-12 medium-4 large-7 column">
          <h4>{{booking.package.name}}</h4>
          <ul class="no-bullet">
            <li><span class="cl-gray">{{booking.package.property_type_select}}</span></li>
            <li>{{booking.package.address_2}}</li>
          </ul>
          <div class="row border bt padd-4-top">
            <div class="small-6 medium-12 large-6 columns border br">
              <ul class="no-bullet">
                <li>Check-in : <strong>{{booking.checkin}}</strong></li>
                <li>Check-Out : <strong>{{booking.checkout}}</strong></li>
                <li><span class="cl-gray">Total length of stay {{booking.no_of_nights}} Night(s)</span></li>
              </ul>
            </div>
            <div class="small-6 medium-12 large-6 columns ">
            <ul class="no-bullet">
              <li>Guest : {{booking.no_of_guest}}</li>
              <li>Additional Guest : {{booking.no_of_extra_bed}}</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 large-3 columns push-4-top">
      <div class="border b-all padd-4">
        <h4>Total : INR {{order.total}}</h4>
        <hr/>
        <h6>Booking status</h6>
        <button class="button expanded
          {% if booking.booking_status == 0 %}
            alert
          {% elif booking.booking_status == 1 %}
            success
          {% elif booking.booking_status == 2 %}
            warning
          {% else %}
            alert
          {% endif %}
        ">{{booking.get_booking_status_display}}</button>

        {% if booking.booking_status == 0 %}
          <p class="cl-gray">Your booking will be confirmed only after payment.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row push-4-top">
  <div class="small-12 medium-12 large-8 column">
    <div class="bg-white border b-all padd-4 push-4-top">
      <h5>Order</h5>
      <p class="cl-gray">Itenery for your booking.</p>
      <div class="table-scroll">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th width="150">Price (INR)</th>
              <th width="150">Quantity</th>
              <th width="150">Total (INR)</th>
            </tr>
          </thead>
          <tbody>
          {% for item in order_items %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                {{item.description}}
                {% if item.booking %}
                  <br/> Guest : {{booking.no_of_guest}} | Nights : {{booking.no_of_nights}}
                  <br/> Checkin Date  : {{booking.checkin}} | Checkout Date : {{booking.checkout}} 
                {% endif %}
                {% if item.lock == False %}
                  <br/><a href="{% url 'booking.order.item.remove' booking.id order.id item.id %}">Delete</a>
                {% endif %}
              </td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>            
              <td>{{item.total}}</td>
            </tr>
          {% endfor %}
            <tr>
              <td colspan="5" class="text-right"></td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Sub Total</td>
              <td>{{order.sub_total}}</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Internet Handeling Fee</td>
              <td>{{order.charge}}</td>
            </tr>
            <tr>
              <td colspan="4" class="text-right">Tax</td>
              <td>{{order.tax}}</td>
            </tr>
            {% if order.promo %}
            <tr>
              <td colspan="4" class="text-right">
                Offer ({{order.promo.promo_code}})<br/>
                {{order.promo.description}}
              </td>
              <td>- {{order.promo.price}}</td>
            </tr>
            {% endif %}
            <tr>
              <td colspan="4" class="text-right">Total</td>
              <td>{{order.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="small-12 medium-12 large-4 column">
    <div class="bg-white border b-all padd-4 push-4-top" id="payments">
      <h5>Payments</h5>
      <p class="cl-gray">Payment options for your booking</p>
      <ul class="no-bullet">
        <li>Payment Type : {{order.get_payment_type_display}}</li>
        {% if order.payment_type == 1 %}
        <li>Amount Paid : INR {{order.payment_total}}</li>
        <li>Amount Left : INR {{order.payment_left}}</li>
        {% endif %}
      </ul>
      
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Payment ID</th>
            <th width="100">Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{payment.invoice_no}}
            {% if payment.due %}
                  <br/>Due :{{payment.due}}
                {% endif %}
            </td>
            <td>INR {{payment.total}}</td>
            <td>
              {% if payment.payment_status == 1 %}
                <a href="{% url 'booking.payment' payment.hash %}" target="_blank" class="button tiny success">Paid (view Details)</a>
              {% elif payment.payment_status == 0 %}
                <a href="{% url 'booking.payment' payment.hash %}" class="button tiny alert">Pay Now</a>
              {% endif %}
            </td>   
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}