{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="oneAction">
  <div class="oneActionInner">
    <div class="oneActionContainer">
      <div class="row">
        <div class="large-8 medium-10 small-12 small-centered columns">
          <div class="bg-white border padd-4 b-all">
            <div class="row">
              <div class="column small-12">
                <a href="{% url 'public.home'%}" class="logo float-center"><img src="{% static 'images/logo.png' %}"/></a>
              </div>
            </div>
            <div class="row push-4-top">
              <div class="small-12 medium-12 medium-centered columns">
                <h4 class="text-center">It's Odd isn't it.</h4>
                <p><strong>Yes It is</strong>, the transaction could not be completed due to some problems in the payment gateway. Our accounting team has been notified about this error, they are on it.</p>

                <p><strong>If the payment was successful from your bank don't worry our team will investigate on it, if the transaction was successful we will get the order completed. If not the same will be returned back to your account.</strong></p>

                <p>To check the status of booking <a href="{% url 'booking.auth' %}">click here</a>, useing the E-mail address and Password used for booking.</p>
                <p>Thank you for choosing Roomnhouse</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}