{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="oneAction">
  <div class="oneActionInner">
    <div class="oneActionContainer">
      <div class="row">
        <div class="large-8 medium-10 small-12 small-centered columns">
          <div class="bg-white border padd-4 b-all">
            <div class="row">
              <div class="column small-6">
              {% if payment.payment_status == 1 %}
                <h3>Invoice Paid</h3>
              {% else %}
                <h3>Not Paid</h3>
              {% endif %}
              </div>
              <div class="column small-6">
                <a href="{% url 'public.home'%}" class="logo float-right"><img src="{% static 'images/logo.png' %}"/></a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 medium-12 columns">
                <h5>Payment Info</h5>
                <ul class="no-bullet">
                  <li>Invoice ID : {{payment.invoice_no}}</li>
                  <li>Created on : {{payment.created}}</li>
                  <li>Booking ID : <a href="{% url 'booking.info' payment.booking.booking_id %}">{{payment.booking.booking_id}}</a></li>
                  <li>Name : {{booking.guest.name}}</li>
                  <li>Email : {{booking.guest.email|truncatechars:8}}</li>
                  <hr/>
                  {% if payment.payment_status == 1 %}
                    <li>Transaction ID : {{payment.mihpayid}}</li>
                    <li>Bank Code : {{payment.bankcode}}</li>
                    <li><strong>Amount Paid : {{payment.amount}}</strong></li>
                    <li>Paid on : {{payment.transaction_date_time}}</li>
                    <li>Payment Mode : {{payment.mode}}</li>
                    <li>Bank Refrence No : {{payment.bank_ref_num}}</li>
                  {% else %}
                    <li>Total Payble amount : {{payment.total}}</li>
                  {% endif %}
                </ul>

               {% if payment.payment_status != 1 %}
                <form action='{{gateway.URL}}' method='post' class="">
                  <input type="hidden" name="firstname" value="{{booking.guest.name}}" />
                  <input type="hidden" name="email" value="{{booking.guest.email}}" />
                  <input type="hidden" name="phone" value="{{booking.guest.phone}}" />


                  <input type="hidden" name="txnid" value="{{payment.invoice_no}}" />
                  <input type="hidden" name="productinfo" value="{{productinfo}}" />
                  <input type="hidden" name="amount" value="{{payment.total}}" />

                  <input type="hidden" name="key" value="{{gateway.GATEWAYKEY}}" />
                  <input type="hidden" name="hash" value = "{{booking_hash}}" />
                
                  <input type="hidden" name="surl" value="{{gateway.HOSTNAME}}{% url 'booking.payment.success' %}" />
                  <input type="hidden" name="curl" value="{{gateway.HOSTNAME}}{% url 'booking.payment.cancel' %}" />
                  <input type="hidden" name="furl" value="{{gateway.HOSTNAME}}{% url 'booking.payment.error' %}" />

                  <input class="button success small radius expand nospace" type= "submit" value="Pay Now">
                </form>
                <p class="cl-gray">Booking will only be confirmed after payment</p>
                {% else %}
                <a href="{% url 'booking.info' payment.booking.booking_id %}" class="button success">View Booking</a>
                {% endif %}
              </div>
            </div>
          </div>
          <img class="text-center" src="{% static 'images/payments.png' %}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}