{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="index-header">
    <div class="push-4-left push-2-top">
    </div>
</div>
<div id="center-container" class="rnh-index">                   <!-- Acts as table -->
    <div class="container-wrap rnh-index-inner" >                         <!-- Acts as row   -->
        <div class="playground">      
            <h1 class="cl-white">Enchanted Valley Carnival</h1>
            <h5 class="cl-white">December 17-18 2016</h5>
            <p class="cl-white">
                <img src="{% static 'images/logo.png' %}" style="width:300px;"></br>
                official accommodation partner
            </p>
        </div>
    </div>
</div>

<div class="row border bt">
    <div class="column small-12 small-centered medium-12">
        <div class="row padd-4-top padd-4-bottom" data-equalizer="ct-1">
            <div class="column small-6 medium-6">
                <div class="padd-4 push-4-top push-4-bottom bg-white border b-all" data-equalizer-watch="ct-1">
                    <div class="row">
                        <div class="small-12 medium-4 column">
                            <img src="{% static 'images/logo_w.png' %}">
                        </div>
                        <div class="small-12 medium-8 column text-left">
                            <h4>EVC 2016</h4>
                            <p class="cl-gray">EVC 2016 establishes itself as the only multi genre music festival in India offering varied genres from electronic music to live genres across International Pop, Bollywood, EDM, techno, fusion and Indie along with other experimental music.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column small-6 medium-6">
                <div class="padd-4 push-4-top push-4-bottom bg-white border b-all" data-equalizer-watch="ct-1">
                    <div class="row">
                        <div class="small-12 medium-4 column">
                            <img src="{% static 'images/village_logo.jpg' %}">
                        </div>
                        <div class="small-12 medium-8 column text-left">
                            <h4>Enchanted Village</h4>
                            <p class="cl-gray">India's Largest Campsite with camping, bonfires, barbeques, sufficient sanitation and hygiene facilities, exclusive food stalls, fun activities and a list that doesn't quite seem to end!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if packages %}
    <hr/>
    <div class="row">
        <div class="small-12 columns">
            <h4 class="text-center">Featured Packages</h4>
        </div>
    </div>
    <div class="row" data-equalizer="sidebar">
        <div class="small-12 columns border" data-equalizer-watch="sidebar">
            <div class="row" data-equalizer="image">
                <div data-equalizer="content">
                    {% for package in packages %}
                        <div class="column small-12 medium-4 large-4 push-4-top push-4-bottom end" >
                            <div class=" border bt br bl">
                                <img {%if package.image_1 %} src="{{ MEDIA_URL }}{{package.image_1.url}}" {% else %} src="{% static 'images/default.png' %}" {%endif%} data-equalizer-watch="image">  
                            </div>
                            <div class="bg-white border b-all padd-2 push-2-bottom" data-equalizer-watch="content">
                                <a href="{% url 'package.info' package.id %}"><h4 class="list-title">{{package.name|truncatechars:40}}</h4></a>
                                <div class="cl-gray"><strong>{{package.city}}</strong></div>
                                <span class="cl-gray">{{package.short_description|truncatechars:150}}</span></p>

                                <h5>{{package.base_price}}<span class="subheader"> INR</span></h5>
                            </div>
                            <a class="button success" href="{% url 'package.info' package.id %}">Book Now</a>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<hr/>
<div class="row">
    <div class="small-12 medium-6 small-centered columns">
        <a href="{% url 'package.list' %}" class="button expanded large push-4-top">View All Packages >></a>
    </div>
</div>
{% endblock content %}