{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white border bb">
  <div class="row padd-4-top">
    <div class="small-12 columns">
      <h3>{{title}}</h3>
    </div>
  </div>
</div>

<div class="row padd-4-top">

  <div class="small-12 medium-12 large-12 column">
    <div class="bg-white border b-all padd-4 push-4-top" data-equalizer-watch="order">
      {% if terms %}
        {% for term in terms %}
          <p>{{term.term|linebreaks}}</p>
        {% endfor %}
      {% else %}
        <h4 class="text-center">It's Odd isn't it.</h4>
        <p class="text-center"><strong>Yes It is</strong>, there is no {{title}} in database to show.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}