{% load static%}
<div class="border bt push-4-top">
  <div class="row padd-4-top">
     <div class="column small-12 medium-4 push-4-bottom text-center">
      	<ul class="menu">
      		<li><a href="{% url 'booking.auth' %}">View / Print Booking</a></li>
          <li><a href="{% url 'public.faq' %}">Frequently Asked Questions</a></li>
          <li><a href="{% url 'public.terms' %}">Terms &amp; Conditions</a></li>
      	</ul>
        <span>Corporate &amp; Bulk enquiry evc[at]roomnhouse.com</span>
    </div>
    <div class="column small-12 medium-4 push-4-bottom text-center">
        <a href="http://roomnhouse.com" target="_blank" class="logo float-center"><img src="{% static 'images/logo.png' %}"/></a>
        &copy; {% now "Y" %} Roomnhouse Rental Services Pvt Ltd
    </div>
  </div>
</div>