{% load staticfiles %}
<div class=" border bb bg-white">
	<div class="row">
		<div class="column small-6">
	    	<a href="{% url 'public.home'%}" class="logo"><img src="{% static 'images/logo.png' %}"/></a>
		</div>
	  <div class="column small-6 hide-for-small-only">
	    <div class="logo float-right"><img src="{% static 'images/evc-logo.jpg' %}"/></div>
	  </div>
	</div>
</div>