{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title> {% if title %} {{title}} {% else %} Packman {% endif %} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/foundation.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/helper.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/motion-ui.css' %} " />
  <link rel="stylesheet" type="text/css" href="{% static 'styles/app.css' %} " />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>
<body>
  {% if navigation != False %}
   {% include "includes/navigation.html" %}
  {% endif %}
  {% block content %}
  {% endblock content %}
  {% if footer != False %}
    {% include "includes/footer.html" %}
  {% endif %}
  <script src="{% static 'scripts/vendor/what-input.min.js' %}"></script>  
  <script src="{% static 'scripts/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/vendor/motion-ui.js' %}"></script>
  <script src="{% static 'scripts/foundation.min.js' %}"></script>
  <script>
 $(document).ready(function() {
     $(document).foundation();
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   })

  ga('create', 'UA-22093945-9', 'auto');
  ga('send', 'pageview');

  </script>
</body>
</html>