{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-white padd-4-top padd-4-bottom push-4-bottom border bb">
  <div class="row">
    <div class="column small-8 medium-9 large-9">
      <h3 class="nospace">{{package.name}}</h3>
      <p class="cl-gray push-1-bottom">{{package.address_2}}</p>
    </div>
    <div class="column small-4 medium-3 large-3 text-right end">
      <h3 class="nospace cl-red">INR {{package.base_price}}</h3>
      <p class="cl-gray"></p>
    </div>
  </div>
  <div class="row">
    <div class="column small-12 medium-9 " >
      <div class="orbit image-slider" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          {%if package.image_1 %}
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="{{ MEDIA_URL }}{{package.image_1.url}}">
          </li>
          {% else %}
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="{% static 'images/default.png' %}">
          </li>
          {% endif %}

          {%if package.image_2 %}
          <li class="orbit-slide">
            <img class="orbit-image" src="{{ MEDIA_URL }}{{package.image_2.url}}">
          </li>
          {%endif%}
          {%if package.image_3 %}
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="{{ MEDIA_URL }}{{package.image_3.url}}">
          </li>
          {%endif%}
          {%if package.image_4 %}
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="{{ MEDIA_URL }}{{package.image_4.url}}">
          </li>
          {%endif%}
        </ul>
      </div>
      <div class="row text-center padd-4-top">
        <div class="column small-12 medium-6 large-6">
          <div class="row">
            <div class="column small-6 padd-4-top padd-4-bottom  border br">
            <h6 class="cl-gray">Type</h6>
              {{package.property_type_select}}
            </div>
            <div class="column small-6 padd-4-top padd-4-bottom border br">
              <h6 class="cl-gray">No of Guest</h6>
              {{package.base_occupancy}}
              {% if package.number_of_extra_bed %}
                + {{package.number_of_extra_bed}} (Extra Guest)
              {% endif %}
            </div>
          </div>
        </div>
        <div class="column small-12 medium-6 large-6">
          <div class="row">
            <div class="column small-6 padd-4-top padd-4-bottom  border br">
              <h6 class="cl-gray">Package Types</h6>
              {% for length in package.length.all %}
                  {%if forloop.counter != 1%}, {%endif%}
                  {{length.nights}}
              {% endfor %} Night(s)
            </div>
            <div class="column small-6 padd-4-top padd-4-bottom ">
              <h6 class="cl-gray">Rate</h6>
              {{package.base_price}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column small-12 medium-4 large-3">
      <div class="bg-white border b-all padd-4">
        <form method="post" action=""  data-abide novalidate>
        {% csrf_token %}
          <div class="row">
            <div class="small-12 medium-12 columns">
              <label>{{form.checkin.label}} <span class="cl-red">{{form.checkin.errors.0}}</span>
                {{form.checkin}}
              </label>
            </div>
            <div class="small-12 medium-12 columns">
              <label>{{form.length.label}} <span class="cl-red">{{form.length.errors.0}}</span></label>
              <ul class="no-bullet in-line nospace">
                {% for package_length in form.length %}
                  <li class="">{{package_length}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="small-6 medium-6 columns">
              <label>{{form.no_of_guest.label}} <span class="cl-red">{{form.no_of_guest.errors.0}}</span>
                {{form.no_of_guest}}
              </label>
            </div>
            {% if package.number_of_extra_bed %}
            <div class="small-6 medium-6 columns">
              <label>{{form.no_of_extra_bed.label}} <span class="cl-red">{{form.no_of_extra_bed.errors.0}}</span>
                {{form.no_of_extra_bed}}
              </label>
            </div>
            {%endif%}
          </div>
          {% if package.number_of_extra_bed %}
          <p class="cl-gray nospace"> * The listing allows additional guest at rate of INR{{package.extra_bed_price}}/Guest per night to a maximum of {{package.number_of_extra_bed}} guestd(s).</p>
          {% endif %}
          <hr class="nospace" />
          <div class="row">
            <div class="small-12 medium-12 columns">
              <label>{{guest_form.name.label}}  <span class="cl-red">{{guest_form.name.errors.0}}</span>
                {{guest_form.name}}
              </label>

            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>{{guest_form.email.label}} <span class="cl-red">{{guest_form.email.errors.0}}</span>
                {{guest_form.email}}
              </label>
            </div>
            <div class="small-12 columns">
              <label>{{guest_form.phone.label}} <span class="cl-red">{{guest_form.phone.errors.0}}</span></label>
              {{guest_form.phone}}
            </div>
          </div>
          <div class="row push-4-top">
            <div class="small-12 columns">
              <button class="button success expanded">
                Book Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="row push-4-top"  id="overview">
  <div class="column small-12 medium-8 large-9 push-4-top">
    <div class="bg-white border b-all padd-4  push-4-bottom">
        <h5>Over View</h5>
        {% if package.short_description %}
          <p class="cl-gray"><strong>{{package.short_description}}</strong></p>
        {% endif %}
        {% if package.description %}
          <p class="cl-gray">{{package.description|linebreaks}}</p>
        {% endif %}

      {% if package.amenities %}
        <h5>Amenities</h5>
        <ul class="no-bullet amenities-list">
          {% for amenity in package.amenities.all %}
            <li>{{amenity.name}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="bg-white border b-all padd-4  push-4-bottom">
      <h5>Important Note</h5>
      <ul class="cl-gray">
        <li>Campers can check-in one day prior to the festival i.e. Friday, 16th December 2016 post 2pm onwards. So they avail 3 Nights stay in the price of 2 Nights.</li>
        <li>Check-out will be on Monday, 19th December 2016 latest by 11am.</li>
        <li>Children are not allowed at the Campsite.</li>
  </div>
  </div>
  <div class="column small-12 medium-4 large-3 columns push-4-top">
   {% if add_ons %}
      <div class="bg-white border b-all padd-4">
        <h5>Add-on's</h5>
        <p class="cl-gray">The following add-on's options are available for you to include with your booking. These items can be added before you make the payment.</p>
        <ol>
        {% for add_on in add_ons %}
          <li>
            <p class="nospace"><strong class="underline">{{add_on.name}}</strong></p>
            <p class="cl-gray">Rate : {{add_on.price}}</p>
          </li>
        {% endfor %}
        </ol>
      </div>
    {% endif %}
  </div>
  
</div>
{% endblock content %}